@import "tailwindcss";

.perspective {
  perspective: 1000px;
}

* {
  font-family: "Road Rage", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}
